<div>
    <clr-combobox-container>
      <label>Choose detectors</label>
        <clr-combobox [(ngModel)]="selection" (ngModelChange)="onChange($event)" name="multiSelect" clrMulti="true" required>
            <ng-container *clrOptionSelected="let selected" class="hey">
              {{selected}}
            </ng-container>
          <clr-options [style.width.%]="200">
            <clr-option *clrOptionItems="let detectorName of detectorNames" [clrValue]="detectorName">
              {{detectorName}}
            </clr-option>
          </clr-options>
        </clr-combobox>
      <clr-control-helper>Availabe detectors for this preset</clr-control-helper>
    </clr-combobox-container>
</div>